.header-container{
  margin: 10px;
}
.cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 0.5rem 2rem;
  background-color: #ff6600;
  cursor: pointer;
  border: none;
  border-radius: 35px;
  font-size: 1rem;
  font-weight: bold;
  
}

.cart:hover {
  background-color: #e65c00;
}

.icon img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  
}

.badge {
  background-color: white;
  color: #ff6600;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 0.9rem;
  margin-left: 10px;
  font-weight: bold;
}
  